.confirm {
    flex: 1;
}

.confirmPanel {
    width: 95%;
    max-width: 500px;
    padding: 1rem 0 2rem 0;
    margin: auto;
    text-align: center;
}

.confirmInfo {
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 16px;
    margin: 2rem auto;
}

.buttonSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}