footer {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
    background-color: #495e57;
    font-family: "Karla", sans-serif;
    color: #fff;
}

footer a {
    color: #f4ce14;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}